  #sidebar {
    background-color: rgb(174, 120, 120, 0.9);
    min-height: 100vh;
  }

  img#my-pic {
    border: 2px solid #FFFFFF;
  }

  .navbar-dark .navbar-nav a.nav-link {
    color: #FFF;
    font-size: 1.5em;
  }

  .navbar-dark .navbar-nav a.active.nav-link {
    color: #28292b;
    font-size: 1.5em;
  }

  @media (min-width: 1600px) {
    .navbar-dark .navbar-nav a.nav-link, .navbar-dark .navbar-nav a.active.nav-link {
        font-size: 2em;
    }
}

  /* @media (max-width: 992px) {
    #sidebar {
      min-height: initial;
    }
    button.navbar-toggler {
      margin: auto;
    }
    img#my-pic {
      size: 100px;
    }

    .navbar-light .navbar-nav a.nav-link {
    color: #000;
    }
   } */
  
