  #sidebar {
    background-color: rgb(176, 109, 109, 0.85);
    min-height: 100vh;
  }

  img#my-pic {
    border: 2px solid #FFFFFF;
  }

  .navbar-light .navbar-nav a.nav-link {
    color: #FFFFFF;
  }

  @media (max-width: 992px) {
    #sidebar {
      /* background-color: transparent; */
      min-height: initial;
    }
    button.navbar-toggler {
      margin: auto;
    }
    img#my-pic {
      size: 100px;
    }

    .navbar-light .navbar-nav a.nav-link {
    color: #000;
    }
   }
  
