  #sidebar {
    background-color: rgb(176, 109, 109, 0.70);
    min-height: 100vh;
  }

  img#myPic {
    border: 2px solid #FFFFFF;
  }

  .nav-link {
    color: #FFF;
  }

  a.nav-link:hover {
    color: #CCCCCC;
  }
  
  @media (max-width: 992px) {
    #sidebar {
      background-color: transparent;
    }
    /* .navbar-toggler-icon {
      align;
    } */
   }
  
