@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    src: local("Glacial Indifference"), url(./assets/fonts/Glacial_Indifference/GlacialIndifference-Regular.otf) format("opentype");
}

.container-fluid {
    padding-left: 0;
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 70px;
    color: #B54545;
}

.nav-link, .form-label, p {
    font-family: "Glacial Indifference", sans-serif;
    font-size: 20px;
}

img.card-img:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* @media (max-width: 992px) {
    h1 {
        font-size: 4.0em;
    }

    .nav-link, .form-label, p {
        font-size: 15px;
    }

    .react-icons {
        width: 4.0em;
    }
    
   .project-pic {
       padding-bottom: 20px;
   }
}

@media (max-width: 768px) {
    h1{
        font-size: 3.5em;
    }

    .react-icons {
        width: 3.5em;
    }
} */

