@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    src: local("Glacial Indifference"), url(./assets/fonts/Glacial_Indifference/GlacialIndifference-Regular.otf) format("opentype");
}

.container-fluid {
    padding-left: 0;
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 70px;
    color: #B54545;
}

.nav-link, .form-label, p {
    font-family: "Glacial Indifference", sans-serif;
    font-size: 22px;
}

img.card-img:hover {
    opacity: 0.85;
    cursor: pointer;
}

#sidebar-wrapper, #page-content-wrapper {
    min-height: 100vh;
}

@media (max-width: 991.98px) {
    h1 {
        font-size: 4.2em;
    }

    .react-icons {
        width: 4.0em;
    }
    
    .form-label, p {
        font-size: 1.5em;
    }
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 3.7em;
    }

    .react-icons {
        width: 3.5em;
    }

    .form-label, p {
        font-size: 1em;
    }
}

@media (max-width: 575.98px) { 
    h1 { 
        font-size: 3.0em;
    }

    .react-icons {
        width: 3em;
    }

    .form-label, p {
        font-size: 1.0em;
    }
 }
